{$LG_DOMAIN} {
    encode gzip
    
    # Block direct access to speedtest files - must use download.php
    handle /files/* {
        respond "Access denied. Use the web interface to download test files." 403
    }
    
    # Main application
    handle {
        root * /var/www/html
        php_fastcgi lg-php:9000
        file_server
    }
    
    tls {$LG_EMAIL}
    
    log {
        output stdout
    }
}
